* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav { 
    background: #13293D;
    width: 100%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-levo {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 4%;
}

.nav-levo i {
    font-size: 25px;
    color:  #fffcf2;
}
/*ROTACIJA PLANETE*/
#planeta{
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
#planeta:hover {
    transform: rotateY(180deg);
}
.nav-levo a {
    color: #fffcf2;
    text-decoration: none;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-levo a:hover {
    border-bottom: 2px solid #fffcf2;
}

.nav-desno {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 2%;
}

.nav-desno a {
    color: #fffcf2;
    text-decoration: none;
    font-size: 18px;
}
.nav-desno a:hover {
    border-bottom: 2px solid #fffcf2;
}

.nav-desno i {
    margin-right: 5px;
}

.nav-desno button {
    background-color: #fffcf2;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

.nav-desno button a {
    color: #13293D;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
/*hero sekcija*/
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero {
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.hero > h1 {
    color: #fffcf2;
    font-size: 80px;
}
.hero > p {
    margin-top: 8px;
    color: #fffcf2;
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
}
.hero >p,.hero>h1{
    margin: 40px;
}
.hero-button button{
    background-color: #13293D;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    /*background-image: linear-gradient(to right, #2e5577, #011e20);*/
    background-image: linear-gradient(to right, #234059, #11afbb);
    
}
.hero-button button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}
.hero-button button a{
    color:  #fffcf2;
    text-decoration: none;
    font-size: 150%;
}
/*SEKCIJA 2*/
.s2-container{
    width: 100%;
    background-color:#13293D;
    display: flex;
    flex-direction: column;
    color: #fffcf2;
    padding: 30px 20px;
}
.s2-container h2{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.s2-left, .s2-right{ 
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.s2-left{
    margin-bottom: 35px;
}
.s2-left-slika img, .s2-right-slika img {
    width: 100%;
    height: auto;
}
.s2-right-text, .s2-left-text{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    gap: 15px;
    text-align: justify;
}
/*3.SEKCIJA */
.s3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 252, 242);
    padding: 30px 20px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
.s3-container h2{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #13293D;
    background-color: rgb(255, 255, 245,0.65);
    width: 20%;
    border-radius: 10px;
}
.all-box{
   /* display: flex;
    flex-direction: row;
    margin: 20px 5px;
    gap: 20px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 5px;
}
.box, .box-novo{ 
    background-color: #13293D ;
    border-radius: 5%;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgb(123, 120, 120);
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 18px;
}
.box-novo{
    position: relative;
}
.stiker{
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: rgb(188, 7, 67);
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    letter-spacing: 1px;
    animation: swing 2s infinite ease-in-out;
}
@keyframes swing {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(5deg); }
    50%  { transform: rotate(0deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.box:hover,.box-novo:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.box-img img{
    border: white solid 2px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}
.box-opis{
    margin: 10px 30px;
    text-align: justify;
}
.box-opis h3{
    text-align: center; 
}
/*CITAT 174700  69a54d*/
.quote {
    width: 100%;
    background-color: rgb(255, 255, 245,0.65);
    text-align: center;
    padding: 40px 0;
}

.citat {
    display: inline-block;
    background-color: #13293D;
    color: #fffcf2;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*  samo svuda dodaj #
    teget: 13293D
    zelena: 4d8b31
    flora white: fffcf2
    slate grey: 878e99
    bez: rgb(215, 215, 174) ili rgb(215, 215, 174)
*/

/*SEKCIJA 4 - ZASTO MI*/
.s4-container{
    background-color: rgb(255, 255, 245,0.65);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.s4-container h2{
    color: #13293D;
    padding: 20px 10px;
    font-size: xx-large;
    font-weight: 700;
}
.razlozi-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px auto;
}
.razlog{
    background-color: #13293D;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 5px;
    max-width: 500px;
}
.kolona1{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 245);
    border-radius: 10px 0 0 10px;
}
.kolona1 i{
    color: #13293D;
}
.kolona2{
    color: #fffcf2;
    padding: 12px;
}
.kolona2 h3{
    padding-bottom: 10px;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #13293D;
    color: #fffcf2;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.f-desno,
.f-levo {
    flex: 1;
    min-width: 300px;
}

.f-desno i {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #fffcf2;
    padding-bottom: 10px;
}

.f-desno a {
    color: #fffcf2;
    text-decoration: none;
    margin-left: 5px;
    padding-bottom: 20px;
}

.f-desno p {
    margin: 5px 0;
    padding-bottom: 10px;
}

.f-desno i a {
    margin-left: 5px;
    color: #fffcf2;
    text-decoration: none;
}

.f-levo h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.f-levo iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}