* {
    margin: 0;
    padding: 0;
}

/*FORMA*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 60px 20px;
    background-image: url("../images/loginPozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

}

.login-container {
    background-color: rgb(19, 41, 61,0.5);
    color: #fffcf2;
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 35px;
}

.login-container h2 {
    margin-bottom: 25px;
    font-size: 28px;
}
.login-container p{
    display: flex;
    justify-content: flex-start;
    padding: 17px;
}
.login-container a {
    text-decoration: none;
    color: white;
    margin-left: 21px;
}

.login-polja {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.login-polja input {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
.input-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.input-group i{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.input-group input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}
.input-group input:focus{
    outline: none;
    border: none;
}

#dugme-prijava {
    background-color: #005f73;
    background-image: linear-gradient(to right, #234059, #11afbb);
    color: #fffcf2;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#dugme-prijava:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
