* {
    margin: 0;
    padding: 0;
}
nav { 
    background: #13293D;
    width: 100%;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-levo {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 4%;
}

.nav-levo i {
    font-size: 25px;
    color:  #fffcf2;
}

.nav-levo a {
    color: #fffcf2;
    text-decoration: none;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-levo a:hover {
    border-bottom: 2px solid #fffcf2;
}

.nav-desno {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 2%;
}

.nav-desno a {
    color: #fffcf2;
    text-decoration: none;
    font-size: 18px;
}
.nav-desno a:hover {
    border-bottom: 2px solid #fffcf2;
}

.nav-desno i {
    margin-right: 5px;
}

.nav-desno button {
    background-color: #fffcf2;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

.nav-desno button a {
    color: #13293D;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #13293D;
    color: #fffcf2;
    padding: 20px 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.f-desno,
.f-levo {
    flex: 1;
    min-width: 300px;
}

.f-desno i {
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #fffcf2;
    padding-bottom: 10px;
}

.f-desno a {
    color: #fffcf2;
    text-decoration: none;
    margin-left: 5px;
    padding-bottom: 20px;
}

.f-desno p {
    margin: 5px 0;
    padding-bottom: 10px;
}

.f-desno i a {
    margin-left: 5px;
    color: #fffcf2;
    text-decoration: none;
}

.f-levo h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.f-levo iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/*FORMA*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 60px 20px;
    background-image: url("../images/loginPozadina3.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

}

.login-container {
    background-color: #13293D;
    color: #fffcf2;
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 25px;
    font-size: 22px;
}

.login-polja {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.login-polja input {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.uslovi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 14px;
}

.uslovi input {
    margin-right: 10px;
}

button {
    background-color: #005f73;
    color: #fffcf2;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a9396;
}
